**__**
**test**
.venv*/
src*/
configs/
tg_clients/
exports/
logs/
*.zip
*.json
*.txt
*config*.py
*.session*

!**/__init__.py
!**/__main__.py
!src/
!requirements.txt
!config.sample.py
!pyrightconfig.json
