bidict==0.23.1
numpy>=2.2.3
soundfile==0.13.1
typing_extensions>=4.12.2
Pyrogram==2.0.106
TgCrypto==1.2.5
git+https://github.com/tgv4f/pytgcalls.git@0d211c0fdb7fb01ef7987e5aa72f06169f941d4a
pydantic==2.10.6
pyyaml==6.0.2
