aiofiles==24.1.0
aiohappyeyeballs==2.4.6
aiohttp==3.11.12
aiosignal==1.3.2
async-timeout==5.0.1
attrs==25.1.0
bidict==0.23.1
cffi==1.17.1
deprecation==2.1.0
frozenlist==1.5.0
idna==3.10
lameenc==1.8.1
multidict==6.1.0
ntgcalls==1.3.0b8
numpy==2.2.3
packaging==24.2
propcache==0.3.0
pyaes==1.6.1
pycparser==2.22
Pyrogram==2.0.106
PySocks==1.7.1
soundfile==0.13.1
TgCrypto==1.2.5
typing_extensions==4.12.2
yarl==1.18.3
git+https://github.com/tgv4f/pytgcalls.git@41f5ba0ca20ab6e90d13a0dd25bf8b9479c4d87b
